@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif; }

.margin_10 {
  margin: 10px 0px; }

#slideshow {
  height: 300px;
  position: relative;
  margin: 0 auto; }
  #slideshow .myslide {
    /*display: none;*/
    margin-left: 50px;
    float: left;
  }

.thecontent h1 {
  font-size: 40pt; }
.thecontent p {
  font-size: 12pt; }

.theform form {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;}
  .theform form input[type="text"], .theform form input[type="email"] {
    width: 100%;
    border: 1px solid #1197c3;
    padding: 10px;
    margin-bottom: 18px; }
  .theform form input[type="submit"] {
    border: 1px solid #7f7f7f;
    background-color: #1197c3;
    color: black;
    padding: 10px 60px;
    border-radius: 1px;
    margin: 0 auto; }

.alert {
  margin-top: 10px; }
