@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif; }

.margin_10 {
  margin: 10px 0px; }

#slideshow {
  height: 300px;
  text-align: center;}
  #slideshow .myslide {
    margin-left: 15px;
    margin-right: 15px;
  }

.thecontent h1 {
  font-size: 40pt;
  font-weight: bold;
  margin-bottom: 40px;}
.thecontent p {
  font-size: 12pt;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;}

.theform form {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;}
  .theform form input[type="text"], .theform form input[type="email"] {
    width: 100%;
    border: 1px solid #1197c3;
    padding: 10px;
    margin-bottom: 18px; }
  .theform form input[type="submit"] {
    border: 1px solid #7f7f7f;
    background-color: #1197c3;
    color: black;
    padding: 10px 60px;
    border-radius: 1px;
    margin: 0 auto; }

.alert {
  margin-top: 10px; }
